# Gemini fallback for my case (can work as the main if needed just insert your GEMINI API Key)
GEMINI_API_KEY=

# AI/ML API
AI_ML_API_KEY=insert_your_api_key_here
AI_ML_API_MODEL=google/gemini-3-1-pro-preview
AI_ML_API_BASE_URL=https://api.aimlapi.com
AI_ML_API_AUTH_HEADER=Authorization
AI_ML_API_AUTH_SCHEME=Bearer